.char__item {
  width: 100%;
  min-height: 100%;
  background-color: #232222;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s;
}
.char__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.char__item div {
  padding: 15px;
}
.char__item .char_selected {
  box-shadow: 0 5px 20px #9f0013;
  transform: translateY(-8px);
}
.char__item:hover {
  box-shadow: 0 5px 20px #9f0013;
  transform: translateY(-8px);
}
.char__item:active {
  box-shadow: 0 5px 20px #9f0013;
  transform: translateY(-8px);
}
.char__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
}
