
.randomchar {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}
.randomchar__block {
  padding: 40px 35px;
  display: grid;
  grid-template-columns: 180px auto;
  column-gap: 30px;
}
.randomchar__img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.randomchar__info {
  display: grid;
  grid-template-rows: minmax(29px, auto) min-content 38px;
  row-gap: 10px;
  padding-top: 3px;
}
.randomchar__name {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
}
.randomchar__descr {
  font-size: 14px;
  /* line-height: 18px; */
}

.randomchar__static {
  padding: 40px 35px;
  background-color: #232222;
  position: relative;
}
.randomchar__static button {
  margin-top: 13px;
}
.randomchar__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.045em;
  color: #ffffff;
  margin-bottom: 30px;
}
.randomchar__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.045em;
  color: #ffffff;
  margin-bottom: 5px;
}
.randomchar:nth-child(2) {
  margin-top: 33px;
}
.randomchar__decoration {
  position: absolute;
  bottom: 14px;
  right: -37px;
}
.button {
  min-width: 101px;
  height: 40px;
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s transform;
  border: none;
  background-color: #9f0013;
  line-height: 18px;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-5px);
}
.button__secondary {
  background-color: #5c5c5c;
  margin-left: 30px;
}
.error-gif {
  width: 300px;
}



@media screen and (max-width: 730px) {
  .randomchar__block {
    display: block;
    text-align: center;
    min-height: 420px;
  }
  .randomchar__decoration {
    height: 150px;
    bottom: 14px;
    right: -37px;
  }
}
@media screen and (max-width: 550px) {
  .randomchar__decoration {
    height: 100px;
    bottom: 14px;
    right: 10px;
  }
}
